navbar {
    display: flex;
    flex-direction: column;
    background-color: #333;
    width: 10vw;
    margin: 0;
    height: 100vh;
}

navbar ul {
    list-style-type: none;
    width: 80%;
    margin: 1vw;
    padding: 0;
}

navbar li {
    margin: 1vw;
    padding: 1vw;
    background-color: #3e4553;
    border-radius: 5px;
}

navbar a {
    display: flex;
    color: #fff;
    text-decoration: none;
    text-align: center;
    align-self: center;
    width: 100%;
    font-size: 1.1vw;
}